<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="location" value="fr"/> <!-- Location code -->
    <add key="save" value="true"/> <!-- Save all background ? (true/false) -->
    <add key="updatetime" value="3600"/> <!-- How often should the program update the wallpaper? (In second) (3600 = 1h)-->
    <add key="resolution" value="1920x1080"/> <!-- Background Resolution (1920x1080 recommended) -->
  </appSettings>
</configuration>